{% extends "layout/base.html" %}
{% block content %}
<div class="row py-5 mb-5">
    <div class="col-12 col-md-5 offset-md-1 pt-5 pt-sm-3">
        <h2 class="h2-about">About us</h2>
        <p class="p-about">We are small, family run company that is focused on providing transport
            manager services to small and medium transport operators in Felixstowe and Ipswich area. 
            Smaller companies very often can't afford to employ internal transport manager therefore
            need support in managing their operator licences. 
            This is something we, as fully qualified CPC transport managers, can provide.
        </p>
        <p class="p-about">We help in applying for both Restricted and Standard Nationl and International 
            licences. Once they are awarded we help operators maintain them by acting as their 
            External Transport Manager (ETM).</p>
        <p class="p-about"> One of our primary job as ETM is to ensure operators are fully compliant. 
            This is, by its very nature quite complex. Some of responsibilities:
            overseeing vehicle and trailer fleet maintenance and inspections schedule and records, 
            tachograph analysis and defect reporting. We also ensure they comply with all the other undertakings 
            required by their licence.</p>

    </div>
    <div class="col-12 col-md-5 offset-md-1 pt-5 pt-sm-3">
        <h2 class="h2-about">Why us</h2>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <p class="text-end pe-md-5 my-2">
                <a class="btn btn-about" href="{{url_for('services')}}">Our services</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}