{% extends "layout/base.html" %}
{% block content %}
<div class="row py-5 mb-5">
    <div class="col-12 col-md-5 offset-md-1 pt-5 pt-sm-3">

    </div>
    <div class="col-12 col-md-5 offset-md-1 pt-xxl-5 pt-sm-3">
        <div class="row pt-sm-3 pt-xxl-5">
            <h3>Contact us</h3>
            <p class="small">If you have any questions or queries please submit below form. Thank you.</p>
        </div>
        <div class="row pt-3 pe-3">
            {% include 'components/contact-form.html' %}
        </div>
    </div>
</div>
    
{% endblock %}