{% extends "layout/base.html" %}
{% block content %}
<div class="row py-5 mb-5">
    <div class="col-12 col-md-5 offset-md-1 pt-5 pt-sm-3">
        <div class="row pt-sm-3 pt-xxl-5">
            <h3>Email:</h3>
            <p class="small">You can contact us directly via email.</p>
        </div>
        <div class="row pt-3 pe-3">
            <a class="contact-email" href="mailto:yourcpctransportmanager@gmail.com" 
            alt="Email address: YourCPCTransportManager@gmail.com" 
            target="_blank" rel="noopener noreferrer">
            <i class="far fa-envelope"></i>
            YourCPCTransportManager@gmail.com
            </a>
        </div>
        <div class="row pt-5 pe-3">
            <p>All questions and queries should be directed to us in writing. 
                Each email and contact form submisstion is treated with the utmost attention and 
                are dealt with as soon as possible.</p>
            <p>Our aim is to reply within 24 hours to each enquiry.</p>
        </div>
    </div>
    <div class="col-12 col-md-5 offset-md-1 pt-xxl-5 pt-sm-3">
        <div class="row pt-sm-3 pt-xxl-5">
            <h3>Contact form:</h3>
            <p class="small">If you have any questions or queries please submit below form. Thank you.</p>
        </div>
        <div class="row pt-3 pe-3">
            {% include 'components/contact-form.html' %}
        </div>
    </div>
</div>
    
{% endblock %}