{% extends "layout/base.html" %}

{% block content %}
    <div class="col-sm-12" id="truck">
    </div>
    <div class="col-sm-8 offset-sm-2 py-3 align-items-center">
        <h1 class="py-2">Your CPC Transport Manager </h1>
        <h3>The transport manager you need</h3>

        <p class="mb-1">We are specialising in working 
            with small to medium size Operators.</p>
        <p class="text-end pe-md-5 mb-1">
            <a class="btn btn-index" href="{{url_for('about')}}">More...</a>
        </p>
    </div>
{% endblock %}