{% extends "layout/base.html" %}
{% block content %}

<div class="row py-5 mb-5 mt-xxl-5">
    <div class="col-10 offset-1">
        <h2 class="h2-services">Services we provide</h2>
        <p>According to the <a class="doc3-link" href="https://www.gov.uk/government/publications/traffic-commissioners-transport-managers-november-2018/statutory-document-3-transport-managers"
            target="_blank" rel="noopener noreferrer" alt="Statutory Document 3: transport managers">
            Statutory Document 3: transport managers</a> Traffic Commissioner identified the following 
            list of the types of activity which might be expected of a transport manager:</p>
        <ul>
            <li>to manage, audit and review compliance systems to ensure that they 
                    are effective;</li>
            <li>to review any shortcomings such as prohibitions and/or annual test 
                    failures;</li>
            <li>to ensure that relevant changes are notified in accordance with operator 
                    licence requirements;</li>
            <li>to keep up to date on relevant changes in standards and legislation;</li>
            <li>drivers administration, management and operations;</li>
            <li>vehicle aministration and management.</li>
        </ul>
        <p>Your CPC Transport Manager team is ready to help you comply with law requirements.
            We are competent professionals who are going to ensure that your
            vehicles are roadworthy and that your drivers are complying with all 
            relevant rules and legislation. We co-operate with companies from all 
            <a class="ocrs-link" 
            href="https://www.gov.uk/guidance/use-the-operator-compliance-risk-score-ocrs-system"
            target="_blank" rel="noopener noreferrer" alt="Operator Compliance Risk Score (OCRS) system">
            Operator Compliance Risk Score (OCRS)</a> bands.
        </p>

    </div>
</div>
{% endblock %}