{% extends "layout/base.html" %}
{% block content %}

<div class="row py-5 mb-5 mt-xxl-5">
    <div class="col-10 offset-1">
        <h2 class="h2-services">Services we provide</h2>
        
    </div>
</div>
<!--<p>
    As external transport manager our role is to ensure that Licence Operator 
    we are working with is fully compliant 100% of the time.
    This task is quite complex and requires that both parties are in at least 
    weekly contact and that trasnport manager can visit site when required but 
    minimum once a month.

</p>-->
{% endblock %}