/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Newsreader:ital,wght@1,200&display=swap");
/* Body styling */
body {
  scroll-behavior: smooth;
  background-color: #000000;
  position: relative;
  font-size: 16px;
  color: #ffffff;
}

h1 {
  color: red;
}

/* Navigation styles */
.nav-menu {
  padding: 0rem 0 !important;
  background: linear-gradient(135deg, red 20%, black 100%);
}

.navbar-brand {
  font-family: 'Newsreader', sans-serif;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

/* Index page styles */
#truck {
  background-image: url("../img/truck.jpg");
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-index {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-index:hover {
  color: #ffffff;
  background: linear-gradient(135deg, red 5%, black 100%);
}

/* About page styles */
.h2-about {
  border-bottom: 2px solid red;
  padding-bottom: 0.5rem;
}

.p-about {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-about {
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-top: 0.5rem;
}

.btn-about:hover {
  color: #ffffff;
  background: linear-gradient(135deg, black 5%, red 100%);
}

ol {
  counter-reset: list-counter;
  list-style: none;
  float: left;
}

ol li {
  padding-left: 0.5rem;
}

ol li:before {
  content: counter(list-counter);
  counter-increment: list-counter;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.25rem solid black;
  background: red;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

/* Footer styling*/
footer {
  background: linear-gradient(135deg, black 20%, red 100%);
}

.mail-footer a, .mail-footer a:visited {
  color: #ffffff;
  font-family: 'Newsreader', sans-serif;
  text-decoration: none;
  transition: ease 0.75s;
}

.mail-footer a:hover {
  font-size: 1.2rem;
}
