/* Footer styling*/
footer {
    background: -moz-linear-gradient(135deg, $black 5%, $red 100%);
    background: -webkit-linear-gradient(135deg, $black 5%, $red 100%);
    background: linear-gradient(135deg, $black 5%, $red 100%);
}

.mail-footer a, .mail-footer a:visited {
    color: $white;
    font-family: 'Newsreader', sans-serif;
    text-decoration: none;
    transition: ease 0.75s;
}

.mail-footer a:hover {
    font-size: 1.2rem;
}
