/* Services page styles */

.h2-services {
    border-bottom: 2px solid $red;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

.doc3-link, .ocrs-link {
    color: $red;
    text-decoration: none;
}

.doc3-link:hover,
.ocrs-link:hover {
    color: $red;
    text-decoration: underline;
}

.btn-services {
    border: 1px solid $white;
    color: $white;
}

.btn-services:hover {
    color: $white;
    background: -moz-linear-gradient(135deg, $black 5%, $red 100%);
    background: -webkit-linear-gradient(135deg, $black 5%, $red 100%);
    background: linear-gradient(135deg, $black 5%, $red 100%);
}