/* Services page styles */

.h2-services {
    border-bottom: 2px solid $red;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

.doc3-link {
    color: $red;
    text-decoration: none;
}

.doc3-link:hover {
    color: $red;
    text-decoration: underline;
}