

// Variables
@import "./base/variables";

// Base - body 
@import "./base/base";

/* Navigation styles */
.nav-menu{
    padding: 0rem 0 !important;
    background: -moz-linear-gradient(135deg, $red 20%, $black 100%);
    background: -webkit-linear-gradient(135deg, $red 20%, $black 100%);
    background: linear-gradient(135deg, $red 20%, $black 100%);
}

.navbar-brand {
    font-family: 'Newsreader', sans-serif;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}


/* Index page styles */
#truck {
    background-image: url('../img/truck.jpg');
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-index {
    border: 1px solid $white;
    color: $white;
}

.btn-index:hover {
    color: #ffffff;
    background: -moz-linear-gradient(135deg, $red 5%, $black 100%);
    background: -webkit-linear-gradient(135deg, $red 5%, $black 100%);
    background: linear-gradient(135deg, $red 5%, $black 100%);;
}

/* About page styles */

.h2-about {
    border-bottom: 2px solid $red;
    padding-bottom: 0.5rem;
}

.p-about {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    margin-bottom: 0.5rem;
}
.btn-about {
    border: 1px solid $white;
    color: $white;
    margin-top: 0.5rem;
}

.btn-about:hover {
    color: $white;
    background: -moz-linear-gradient(1355deg, $black 5%, $red 100%);
    background: -webkit-linear-gradient(1355deg, $black 5%, $red 100%);
    background: linear-gradient(1355deg, $black 5%, $red 100%);
}

ol {
    counter-reset: list-counter;
    list-style: none;
    float:left;
}

ol li {
    padding-left: 0.5rem;
}

ol li:before{
    content: counter(list-counter);
    counter-increment: list-counter;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.25rem solid $black;
    background: $red;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

/* Contact page styles */

.contact-email {
    color: $red;
    text-decoration: none;
    transition: ease 0.75s;
}

.contact-email:hover {
    font-size: 1.5rem;
    color: $red;
}

.form-group #checkbox:valid {
    background-color: $red;
}

.btn-contact {
    color: #ffffff;
    background: -moz-linear-gradient(135deg, $red 5%, $black 100%);
    background: -webkit-linear-gradient(135deg, $red 5%, $black 100%);
    background: linear-gradient(135deg, $red 5%, $black 100%);
}

.btn-contact:hover {
    color: $white;
    border: 1px solid $white;
}

/* Footer styling*/
footer {
    background: -moz-linear-gradient(1355deg, $black 20%, $red 100%);
    background: -webkit-linear-gradient(1355deg, $black 20%, $red 100%);
    background: linear-gradient(1355deg, $black 20%, $red 100%);
}

.mail-footer a, .mail-footer a:visited {
    color: $white;
    font-family: 'Newsreader', sans-serif;
    text-decoration: none;
    transition: ease 0.75s;
}

.mail-footer a:hover {
    font-size: 1.2rem;
}
