<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="CPC certified external transport manager for hire in Felixstowe and surrounding area. Contact YourCpcTransportManager@gmail.com"/>
<meta name="author" content="Mal C-U">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="#">
<title>Your CPC Transport Manager - {{title}}</title>
</head>
<body>
    {% include 'layout/navbar.html' %}
    <div class="container-fluid  mx-0 px-0">
        <!--Page content-->
        <div id="page-content" class="row mx-0 pb-5">
          <!--Container that will display flashed messages/alerts-->
          {% include 'components/flash-alerts.html' %}
          <!--Block of page content to be displayed from templates/pages-->
          {% block content %} {% endblock %}
        </div>
    </div>
    {% include 'layout/footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
</body>
</html>