<footer class="container-fluid text-light">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-start">
            <p class="mail-footer pt-2">
              <a href="mailto:yourcpctransportmanager@gmail.com" alt="Email us" target="_blank" rel="noopener noreferrer">
                YourCPCTransportManager@gmail.com</a>
            </p>
          </div>
          <div class="col-sm-12 col-md-6 text-end">
            <p>© 2021 Copyright: MalC-U - all rights reserved
              <a href="https://github.com/malc-u" alt="Author's Github" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-2x text-light fa-github"></i>
                </a>
            </p>
          </div>
</footer>